## Groupby

O método groupby permite agrupar linhas de dados em conjunto e chamar funções agregadas

In [33]:
import pandas as pd
# Cria um DataFrame
data = {'Classe':['Júnior','Júnior','Pleno','Pleno','Sênior','Sênior'],
       'Nome':['Jorge','Carlos','Roberta','Patrícia','Bruno','Vera'],
       'Venda':[200,120,340,124,243,350]}

df = pd.DataFrame(data)

In [34]:
df

   Classe      Nome  Venda
0  Júnior     Jorge    200
1  Júnior    Carlos    120
2   Pleno   Roberta    340
3   Pleno  Patrícia    124
4  Sênior     Bruno    243
5  Sênior      Vera    350

** Agora, podemos usar o método .groupby () para agrupar as linhas em conjunto com base em um nome de coluna. Por exemplo, vamos agrupar com base na empresa. Isso criará um objeto DataFrameGroupBy:**

In [35]:
por_classe = df.groupby('Classe')

In [36]:
# Metodos agregados
por_classe.mean()
por_classe.min()
por_classe.max()
por_classe.count()

AttributeError: 'DataFrameGroupBy' object has no attribute 'sdt'